@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

header {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
    font-family: "Poppins", sans-serif;
    background: url(/img/fundo/Design\ sem\ nome.jpg);
    background-size: cover;
    background-position: center;
    height: 280px;
}

.container-faq{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intrtoducao-faq{
    width: 800px;
    margin: 40px 0px;
    font-size: 1.3rem;
    text-align: center;
}

details{
    width: 800px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    transition: .3s linear;
}

summary{
    background-color: rgb(227, 50, 50);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
    transition: .3s linear;
}
summary:hover{
    color: white;
}

.container-datails{
    padding: 20px;
}