@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    height: 50px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.912);
    color: white;
}
.logo-home img{
    height: 75px;
    cursor: pointer;
    transition: .3s linear;
}
.logo-home img:hover{
    height: 83px;
}

.links ul{
    display: flex;
    list-style: none;
}
.links ul a{
    text-decoration: none;
    color: white;
}

.links ul li{
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s linear;
}
.links ul li:hover{
    font-size: 18px;
    color: red;
}
.menuHamburger .fa-stream{
    margin-right: 60px;
    color: white;
    margin-left: 20px;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background: url(https://wallpapers.com/images/hd/red-gaming-1920-x-1080-54rtfpxzb5fo7im4.jpg
    );
    background-attachment: fixed;
    padding-top: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.title-halloween{
    margin-bottom: 20px;
    font-size: 2rem;
}
.logo-container img{
    height: 200px;
}
.title-container h2{
    font-family: "Permanent Marker", cursive;
    font-size: 4rem;
    text-align: center;
}
.home .slogan{
    width: 30%;
    background-color: rgba(0, 0, 0, 0.585);
    border-radius: 50px;
    padding: 10px;
}
.home .slogan p{
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

.container-button-ingressos{
    margin-top: 20px;
}

.container-button-ingressos button{
    height: 50px;
    border-radius: 30px;
    padding: 15px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    transition: .3s ease-in-out;
}
.container-button-ingressos button:hover{
    background-color: red;
    color: white;
    font-size: 15px;
}

.button-container{
    border: none;
}

.button-container button{
    background-color: transparent;
    margin-top: 20px;
    padding: 10px;
    border: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}
.button-container .icon-next{
    background-color: white;
    color: red;
    border-radius: 50%;
    padding: 10px;
    transition: .3s linear;
}
.button-container .icon-next:hover{
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}