@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    height: 50px;
    color: white;
    background-color: rgb(235, 14, 14);
}
.menu img{
    height: 75px;
    cursor: pointer;
}

.links ul{
    display: flex;
    list-style: none;
}

.links ul li{
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 70px);

}
.home h1{
    font-family: "Permanent Marker", cursive;
    font-size: 4rem;
}
.home .slogan{
    width: 30%;
}
.home .slogan p{
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

.button-container{
    border: none;
}

.button-container button{
    background-color: transparent;
    margin-top: 20px;
    padding: 10px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}
.button-container .icon-next{
    background-color: red;
    border-radius: 50%;
    padding: 10px;
    transition: .3s linear;
}
.button-container .icon-next:hover{
    font-size: 2rem;
}